@page "/DetallesMetas"
@page "/DetallesMetas/MetaId={metaId:int}"

@inject MetasService metaService
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager navigation

<PageTitle>Detalles Meta</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header">
			<h3><strong>Detalles de Meta</strong></h3>
		</div>
		<div class="card-body col-5">
			<h3><strong>Informaci&oacute;n de la meta #@metaId</strong></h3>
			<div class="mb-1">
				<p class="mb-2"><strong>MetaId:</strong> @meta.MetaId</p>
			</div>
			<div class="mb-1">
				<p class="mb-2"><strong>Fecha:</strong> @meta.Fecha.ToShortDateString()</p>
			</div>
			<div class="mb-1">
				<p class="mb-2"><strong>Descripci&oacute;n:</strong> @meta.Descripcion</p>
			</div>
			<div class="mb-1">
				<p class="mb-2"><strong>Monto:</strong> @meta.Monto.ToString("N2")</p>
			</div>
		</div>
		<div class="card-footer">
			<div class="col d-flex justify-content-end"><a href="/Metas" class="btn btn-dark"> Volver</a></div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public int metaId { get; set; }
	public Metas meta { get; set; } = new Metas();

	protected override async Task OnInitializedAsync()
	{
		meta = await metaService.Buscar(metaId);
	}
}